.ant {
    &-card {
        display: flex;
        flex-direction: column;

        &-actions {
            margin-top: auto;
        }
    }

    &-list {
        &-item {
            padding-left: 0 !important;

            &:last-child {
                padding-bottom: 0 !important;
            }
        }
    }
}
